
<div class="fundo">
  <h1>Sorteio</h1>
  <div class="time">
  <div>
    <ul>
      <h2>Jogadores</h2>
      <li *ngFor="let jogador of jogadores; let i = index" [ngClass]="{'selecionado': jogador.selecionado}">
        <a href="#" (click)="toggleCheckbox(i); $event.preventDefault()">
          <img [src]="jogador.foto" alt="Foto do {{ jogador.nome }}" width="50" height="50" class="rounded-image">
        </a><br>
        &nbsp;<label>{{ jogador.nome }}</label>
      </li>
    </ul>
  </div>

  <ng-form>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="jogadorNovo.nome">
    </div>
  
    <button type="submit" class="btn btn-primary" (click)="Adicionar()">Adicionar</button>
  </ng-form>
  <br>


  <button type="button" class="btn btn-primary" (click)="sortearTimes()">Sortear</button>
  <div *ngIf="times.length" class="sorteado">
    <h2>Times Sorteados</h2>
    <div *ngFor="let time of times; let i = index">
      <h3>Time {{ i + 1 }}</h3>
      <ul [ngClass]="i + 1 === 1 ? 'amarelo' : i + 1 === 2 ? 'vermelho' : 'time3'">
        <li *ngFor="let jogador of time">
          <a href="#" (click)="toggleCheckboxByFoto(jogador.foto); $event.preventDefault()">
            <img [src]="jogador.foto" alt="Foto do {{ jogador.nome }}" width="50" height="50" class="rounded-image">
          </a>
          {{ jogador.nome }}
        </li>
      </ul>
    </div>
  </div>
</div>